body {
    background: #354d69 url(../hausautomatisierung-com/images/bg_wrapper.jpg) no-repeat center 0 fixed;
    background-size: cover;
    background-position: top center;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: $default-fontsize;
    margin: 0 auto;
    padding: 0;
    tab-size: 4;
    background-size: cover;
}

div {
    font-family: 'Open Sans', sans-serif !important;
    font-size: $default-fontsize !important;
}

body.dashboard_fullsize #content {
    border: none !important;
    float: none !important;
    height: 100% !important;
    overflow: visible !important;
    padding: 0 !important;
    position: inherit !important;
    width: 100% !important;
}

body.dashboard_fullsize #menuScrollArea,
body.dashboard_fullsize #hdr,
div.ui-dialog div.ui-dialog-titlebar {
    display: none;
}

a {
    color: $primary-color;
    text-decoration: none;
}

button.dist {
    border: 0;
    cursor: pointer;
    margin: 10px;
}

#logo {
    background: url(../hausautomatisierung-com/images/haus_automatisierung.png) no-repeat;
    height: 120px;
    margin-left: 40px;
    margin-top: 10px;
    position: fixed;
    width: 220px;

    .theme-version {
        opacity: 0.7;
        font-weight: bold;
    }

    #clock {
        opacity: 0.7;
        position: absolute;
        font-weight: bold;
        right: 0;
        top: 0;
    }
}

#content, #right {
    bottom: 20px;
    left: 180px;
    position: absolute;
    right: 10px;
    top: 50px;
}

#content, #hdr, #right {
    left: 320px;
}

input[type="text"] {
    border: 1px #e56524 solid;
    background: none;
}

#hdr {
    left: 310px;
    position: fixed;
    top: 0px;
    background: #fffffff0;
    padding: 10px;
    z-index: 99;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 3px 3px #11111130;
    
    .header {
        display: inline-block;
    }

    input.maininput {
        color: $primary-color;
        font-size: $large-fontsize;
        box-sizing: border-box;

        &:focus {
            outline: none;
        }
    }

    .maininputPopupLink {
        background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path fill="gray" d="M 1302,839 V 939 c 0,19 -15,37 -36,37 H 993 v 277 c 0,19 -15,37 -36,37 H 856 c -20,0 -36,-15 -36,-37 V 977 H 546 c -20,0 -36,-15 -36,-37 V 839 c 0,-19 15,-37 36,-37 H 818 V 521 c 0,-19 15,-37 36,-37 h 97 c 20,0 36,15 36,37 V 798 H 1261 c 20,0 36,15 36,37 z M 1600,331 V 1447 c 0,83 -65,151 -148,151 H 360 C 277,1600 212,1532 212,1448 V 331 C 212,246 277,180 360,180 H 1450 c 81,0 147,66 147,151 z M 1450,1428 V 350 c 0,-8 -7,-17 -17,-17 H 379 c -9,0 -17,7 -17,17 V 1428 c 0,8 7,17 17,17 H 1431 c 9,0 17,-7 17,-17 z"/></svg>');
        cursor: pointer;
        width: 22px;
        height: 22px;
        display: inline-block;
    }

    &.header--hidden{
        -webkit-transform: translateY(-110%);
        -ms-transform: translateY(-110%);
        transform: translateY(-110%);
    }
}

#errmsg {
    background: $primary-color;
    border-bottom: 3px #fff solid;
    border-top: 3px #fff solid;
    color: #fff;
    font-size: $large-fontsize !important;
    font-weight: 700;
    left: 0;
    padding: 20px;
    position: fixed;
    top: 10px;
    width: 100%;
    z-index: 99999;
    opacity: 0.8;

    &:after {
        content: ' !!!!';
    }

    &:before {
        content: '!!!! ';
    }
}

embed {
    margin-bottom: 10px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
}
