#content {
    bottom: 20px;
    left: 180px;
    position: absolute;
    right: 10px;
    top: 50px;
}

#content, #hdr {
    left: 320px;
}

#hdr {
    left: 180px;
    position: absolute;
    top: 10px;
    width: 500px;

    input[type="text"] {
        color: #000;
    }
}