#console {
    bottom: 0;
    overflow-y: auto;
    position: absolute;
    top: 2em;
    width: 100%;
}

#console, .fhemlog {
    color: #fff;
    font-family: 'Source Code Pro', monospace;
}

#devSpecHelp {
    background: #fff;
    border-left: 5px $primary-color solid;
    color: $secondary-color;
    font-family: 'Source Code Pro', monospace;
    max-width: 985px;
    padding: 5px;
    width: 100%;
}