#console {
    bottom: 0;
    overflow-y: auto;
    overflow-x: scroll;
    white-space: nowrap;
    position: absolute;
    top: 2em;
    width: 100%;
}

#console, .fhemlog {
    color: #fff;
    font-family: 'Source Code Pro', monospace;
}