#dashboard {
    margin-top: -10px;

    .dashboard-button {
        background: #f5f5f5 no-repeat 7px !important;
        border: 1px solid #ddd;
        border-radius: 0 !important;
        cursor: pointer;
        display: inline-block;
        height: 1.9em;
        margin-top: 2px;
        padding: 0 .6em;
        position: absolute;
        width: 14px;
    }

    .dashboard-button-defineDetails {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyBpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBXaW5kb3dzIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOkY4NjYwOTg0NEJFQzExRTI4MjI3OTFCOEEyNzY2MzE2IiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOkY4NjYwOTg1NEJFQzExRTI4MjI3OTFCOEEyNzY2MzE2Ij4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6Rjg2NjA5ODI0QkVDMTFFMjgyMjc5MUI4QTI3NjYzMTYiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6Rjg2NjA5ODM0QkVDMTFFMjgyMjc5MUI4QTI3NjYzMTYiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz7i4cyWAAAAsElEQVR42mJgoCEwA+IPUGxGrKZkIE6AsjOB+D8UZyKJReHTDNOwGoifIPEfAvFGJH4gIQMIYZyuWI3mCm8oRhZfhCvA0pCcvRGLmnVI3klDD9gPaE50gopvRDLMG00NSA8DCw6vcELpX0hifwnFeRrUef+hzsXlhSfYvMCA5GTkQPSAYvTAxQoyyYlGJiQDviOxFwPxCyQ+iL0eh1oUEA7EfniSciySPG0yE8kAIMAAicRYTX3YPyoAAAAASUVORK5CYII=) !important;
        right: 10px;
        top: .2em;
    }

    .dashboard-button-editTab {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABOklEQVR42o3SPUhCURjG8WPR1tBgU23SEEH0AUFDSURDtFU4FOQSQh9LlDgEUdSiU7QUuSq0RCAIYhTl0JCUIEFLRUQ1NLWIEGX9D74XRPJ4XvjB5V7Oc8597nUpuxnDBDbxWfnAZbG4Ce9w4xmzuLINaEALlrGBRnxjCzs2AWF4MA0vYmjHL7pwbwoYRxz9COABJ9jDG0KmE7Qhh0U5chR9mJSQF1MH+j3PcYcIbuFHM3bRjQ9TwLZ8smGcSuP7yMIn91StgFEcYwDzUpy+d4kU1qt3qwxoRR6rqvyzxKTAFfRgBD+mAF3clJxAF7iAEg7Ri9f/2nYCBmXBkjTdiQPcYA7JWt/aCdDveoFHzOAaR7LrmjJMdYCeL1X+baPSRckmYAgZuS4gLTs/qTrjBHQgiATOUKy30Jk/KjtDEXVEBowAAAAASUVORK5CYII=);
        right: 115px;
        top: .2em;
    }

    .dashboard-button-goBack {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAAZ0lEQVQ4jd3RMQqDQBBA0YekV0wj3v8QNqZTJBEtPY42K9l2p0s+TDHF/zAMf8kTE4aovOPEp1TucGRyE5XXUhnmJJfMCFUKVMp55EuLzfeENhBUY0mRA30kkr/xHQnckQWvaODHuADAUSEXjMLoMwAAAABJRU5ErkJggg==) !important;
        right: 80px;
        top: .2em;
    }

    .dashboard-button-setPosition {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAYUlEQVR4XtWRUQrAMAhDneyg9mT2ptugHRaCY/FnLJAveWKifCW7AS3Avlj2AmzrFUrDIYhgJNwvN4VcBDwiYC5/CyclBpDDoe2poATGEuegs3AswCUIk/8+pl2K8uE/6ATG4BstrVLVgQAAAABJRU5ErkJggg==) !important;
        right: 45px;
        top: .2em;
    }

    .dashboard-button-setPosition:not(.ui-state-disabled) {
        background: red !important;
    }

    .dashboard_button_icon {
        background: url(../images/default/dashboardicons.png) no-repeat;
        float: left;
        height: 14px;
        width: 13px;
    }

    .dashboard_button_iconminus {
        background: -52px 0;
        float: right;
        margin: .1em .4em;
    }

    .dashboard_button_iconplus {
        background: -65px 0;
        float: right;
        margin: .1em .4em;
    }

    .dashboard_column {
        float: left;
    }

    .dashboard_columncenter {
        height: inherit;
    }
    
    .dashboard_columnhelper {
        border: 1px dotted gray;
    }
    
    .dashboard_content tr {
        height: 50px;
    }
    
    .dashboard_content.table {
        border: 1px none #278727 !important;
        border-bottom: 1px solid #278727 !important;
        border-left: 1px solid #278727 !important;
        border-radius: 0 0 8px 8px !important;
        border-right: 1px solid #278727 !important;
        box-shadow: none !important;
    }
    
    .dashboard_row {
        height: inherit;
        padding: 0;
        width: 100%;
    }
    
    .dashboard_tabcontent {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    
    .dashboard_tabnav {
        background: #fff !important;
        border-radius: 0;
    }
    
    .dashboard_tabnav_hidden {
        background: #F8F8d5;
    }
    
    .dashboard_widget {
        border-radius: 8px;
        float: left;
    }
    
    .dashboard_widgetheader {
        background: #F0F0D8;
        border: 1px solid gray;
        font-weight: 400;
        margin: .2em;
        padding-bottom: 4px;
        padding-left: .7em;
        padding-top: 3px;
    }
    
    .dashboard_widgethelper {
        background: #A8A870;
    }
    
    .dashboard_widgetinner {
        padding: .2em;
    }
    
    .dashboard_widgetinner .block .block {
        border: none;
        box-shadow: none;
    }
    
    .ui-button .ui-button-text, #dashboard-dialog .ui-button .ui-button-text {
        display: block;
        line-height: normal;
    }
    
    .ui-button, #dashboard .ui-button:active, #dashboard-dialog .ui-button, #dashboard-dialog .ui-button:hover, #dashboard-dialog .ui-button:active {
        text-decoration: none;
    }
    
    .ui-button, #dashboard-dialog .ui-button {
        cursor: pointer;
        display: inline-block;
        line-height: normal;
        margin-right: .1em;
        overflow: visible;
        text-align: center;
        vertical-align: middle;
    }
    
    .ui-button-text-only .ui-button-text, #dashboard-dialog .ui-button-text-only .ui-button-text {
        padding: .4em 1em;
    }
    
    .ui-helper-clearfix, #dashboard-dialog .ui-helper-clearfix {
        min-height: 0;
    }
    
    .ui-helper-clearfix:after, #dashboard-dialog .ui-helper-clearfix:after {
        clear: both;
    }
    
    .ui-helper-clearfix:before, #dashboard .ui-helper-clearfix:after, #dashboard-dialog .ui-helper-clearfix:before, #dashboard-dialog .ui-helper-clearfix:after {
        border-collapse: collapse;
        content: "";
        display: table;
    }
    
    .ui-helper-reset {
        border: 0;
        font-size: 100%;
        line-height: 1.3;
        list-style: none;
        margin: 0;
        outline: 0;
        padding: 0;
        text-decoration: none;
    }
    
    .ui-resizable, #dashboard .dashboard_rowcenter {
        position: relative;
    }
    
    .ui-resizable-handle {
        font-size: .1px;
        position: absolute;
    }
    
    .ui-resizable-se {
        background: url(data:image/gif;base64,R0lGODlhEAAQAIABAJOnY////yH5BAEAAAEALAAAAAAQABAAAAIZjI+py+0IwDtx2ktlqI1zDCae9mXGGKZgAQA7);
        bottom: 1px;
        cursor: se-resize;
        height: 12px;
        right: 1px;
        width: 12px;
    }
    
    .ui-sortable-placeholder {
        border: 1px dotted #278727;
        height: 25px !important;
        visibility: visible !important;
        width: 150px;
    }
    
    .ui-state-active a, #dashboard .ui-state-hover a, #dashboard .ui-state-focus a:hover, #dashboard-dialog .ui-state-active a, #dashboard-dialog .ui-state-hover a, #dashboard-dialog .ui-state-hover a:hover {
        color: #278727;
        text-decoration: none;
    }
    
    .ui-state-default a, #dashboard-dialog .ui-state-default a {
        color: #F8F8d5;
        text-decoration: none;
    }
    
    .ui-state-disabled {
        filter: Alpha(Opacity=35);
        opacity: .35;
    }
    
    .ui-state-hover, #dashboard-dialog .ui-state-hover {
        border: 1px solid #278727;
        color: #278727;
        font-weight: 400;
    }
    
    .ui-tabs {
        padding: 0;
        position: relative;
    }
    
    .ui-tabs .ui-tabs-nav {
        margin: 0 3px;
        padding: .2em;
    }
    
    .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
        float: left;
        padding: .5em;
        text-decoration: none;
    }
    
    .ui-tabs .ui-tabs-nav li a {
        float: none;
        padding: 0;
    }
    
    .ui-tabs .ui-tabs-nav li, #dashboard-dialog .ui-tabs .ui-tabs-nav li {
        float: left;
        list-style: none;
        margin: 0 .2em 0 0;
        padding: 0;
        position: relative;
        top: 0;
    }
    
    .ui-tabs .ui-tabs-panel, #dashboard-dialog .ui-tabs .ui-tabs-panel {
        border-radius: 0;
        border-width: 0;
        box-shadow: 0 0 0 0;
        display: block;
        padding: 0;
    }
    
    .ui-tabs-icon {
        height: 23px;
        margin: -8px 2px -6px -3px;
        padding-right: 2px;
        width: 23px;
    }
    
    .ui-widget .ui-widget {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1em;
    }
    
    .ui-widget-content {
        background: #F8F8d5;
        border: none;
        color: #278727;
        font-family: Arial, Helvetica, sans-serif !important;
        font-size: $default-fontsize !important;
    }
    
    .ui-widget-content a, .fhemlog, #fwmenu li a {
        color: #278727;
    }
    
    .ui-widget-header {
        background: $primary-color;
        border: none;
        color: #fff;
        margin: 0;
    }
    
    .ui-widget-header .ui-state-active, #dashboard-dialog .ui-state-active {
        background: #F8F8d5;
        border: 1px solid #278727;
        color: #278727;
        font-weight: 400;
    }
    
    .ui-widget-header .ui-state-default {
        background: #fff;
        border: 1px solid #ddd;
        color: $secondary-color;
        font-weight: 400;
    }
    
    td table, .wide {
        width: 100%;
    }
}

#dashboard-dialog {
    border: 2px solid $primary-color;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: $default-fontsize !important;
    left: 0;
    outline: 0;
    overflow: visible !important;
    padding: .2em;
    position: absolute;
    top: 0;
    z-index: 100;
    
    .ui-dialog-buttonpane {
        background: #f5f6f9;
        padding: 5px;
    }
    
    .ui-dialog-buttonpane .ui-dialog-buttonset {
        float: right;
    }
    
    .ui-helper-reset {
        border: 0;
        font-size: 100%;
        line-height: 1.3;
        list-style: none;
        margin: 0;
        outline: 0;
        text-decoration: none;
    }
    
    .ui-state-default {
        background: #f5f6f9;
        border: 1px solid #ddd;
        color: #F8F8d5;
        font-weight: 400;
    }
    
    .ui-state-disabled {
        background: #F8F8d5;
        border: 1px solid #444;
        color: #444;
        font-weight: 400;
    }
    
    .ui-tabs {
        border: none;
        padding: .2em;
        position: relative;
    }
    
    .ui-tabs .ui-tabs-nav {
        margin: 0;
        padding: .2em;
    }
    
    .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
        float: left;
        padding: .5em 1em;
        text-decoration: none;
    }
    
    .ui-widget-header {
        background: #fff;
        color: $secondary-color;
        padding: 5px;
    }

}