#content {

    // abstracttable
    .abstract-table {
        margin: 10px 0;

        th {
            font-weight: bold;
            color: $secondary-color;
            padding: 10px 2px;
            border-bottom: 1px $secondary-color solid;
        }
    }

    // FB_CALLLIST
    .fbcalllist.header {
        td {
            font-weight: bold;
            color: $secondary-color;
            padding: 10px 2px;
            border-bottom: 1px $secondary-color solid;
        }
    }
    
    // SONOS
    .rc_body {
        margin-top: 10px;
    }

    // weekdayprofile
    div[id^=weekprofile] {
        background: #fff;
        padding: 5px;
        
        button {
            border: 1px $primary-color solid;
            border-radius: 0;
            color: $primary-color;
            padding: 1px 10px;
            background: transparent;
            font-size: $large-fontsize;
            height: 24px;
        }
    }

    // search command
    #fhemsearch {
        color: $primary-color-lt;
        margin-top: 10px;
        background: #fff;
        border-left: 5px $primary-color solid;
        border-right: 5px $primary-color solid;
        box-sizing: border-box;
        padding: 5px;
        
        > input[type="text"] {
            border: 1px $primary-color solid;
            color: #555;
            background: #fff;
            font-size: $large-fontsize;
            height: 20px;
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}