#menu {
    margin-left: 20px;
    margin-top: 140px;
    width: 260px;
    z-index: 9999;
    
    table {
        border-collapse: collapse;
        border-radius: 0;
        width: 100%;
    }

    a {
        background: #fff;
        color: $secondary-color;
        display: block;
        padding: 10px 15px;
        position: relative;
        line-height: 15px;
    }

    table.room {
        border: none;
        border-spacing: 0;
        margin-bottom: 10px;

        .custom-menu-entry {
            color: $primary-color;
        }

        img.icon,
        svg.icon {
            width: 20px;
            height: 20px;
            margin: 0;
            position: absolute;
            right: 10px;
            top: 7px;
        }

        #saveCheck {
            margin-top: -35px;
            background: transparent;
            color: red;
            border-right: 5px #e56524 solid;
            border-left: 5px #e56524 solid;
            text-indent: -9999px;
            margin-left: 220px;
        }

        tr.sel {
            a {
                background: $primary-color;
                color: #fff;
            }

            svg.icon {
                fill: #fff;
            }

            td a:after {
                border-bottom: 17px solid transparent;
                border-left: 13px solid #e56524;
                border-top: 17px solid transparent;
                content: " ";
                height: 0;
                margin-top: -17px;
                position: absolute;
                right: -13px;
                top: 50%;
                width: 0;
            }
        }
    }
}

#menuScrollArea {
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    position: relative;
    width: 300px;
}
