.ui-dialog {
    background: #fff !important;
    border: 2px solid $primary-color !important;
    padding: .2em !important;
    border-radius: 0 !important;
    color: $secondary-color !important;
    padding: 0 !important;
}

.ui-widget-content {
    background: #fff !important;
}

.ui-button {
    border-radius: 0 !important;
    color: $primary-color !important;
}

.ui-dialog-titlebar {
    display: block !important;
    border: none !important;
    border-radius: 0 !important;
    background: $odd-color !important;
}