@import "compass/reset";

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

@import 'vars';

$gric-color: gray;

$svg-color-1: #215A94;
$svg-color-2: #18986E;
$svg-color-3: #913100;
$svg-color-4: #915700;
$svg-color-5: #07325E;
$svg-color-6: #006141;
$svg-color-7: #FFA77A;
$svg-color-8: #5F8AB6;
$svg-color-9: #59B99A;

svg {
    font-family: 'Open Sans', sans-serif;
    
    .background {
        fill: #000;
    }

    circle#svgmarker {
        color: #278727;
        opacity: 0.5;
    }

    path.SVGplot {
        stroke: black;
        fill: none;
    }

    rect.SVGplot {
        stroke: black;
        fill: none;
    }

    polyline.SVGplot {
        stroke: $gric-color;
        fill: none;
    }

    .border {
        stroke: $primary-color;
        fill: #fff;
    }

    .vgrid {
        stroke: $gric-color;
        stroke-dasharray: 2, 6;
    }

    .hgrid {
        stroke: $gric-color;
        stroke-dasharray: 2, 6;
    }

    .pasted {
        stroke: black;
        stroke-dasharray: 1, 1;
    }

    .SVGplot {
        &.l0,
        &.l0fill,
        &.l0dot,
        &.l0fill_stripe,
        &.l0fill_gyr {
            stroke: $svg-color-1;
        }
        
        &.l0fill {
            fill: $svg-color-1;
        }
        
        &.l0dot {
            stroke-dasharray: 2, 4;
        }

        &.l0fill_stripe {
            fill: $svg-color-1;
        }

        &.l0fill_gyr {
            fill: $svg-color-1;
        }


        &.l1,
        &.l1fill,
        &.l1dot,
        &.l1fill_stripe,
        &.l1fill_gyr {
            stroke: $svg-color-2;
        }
        
        &.l1fill {
            fill: $svg-color-2;
        }
        
        &.l1dot {
            stroke-dasharray: 2, 4;
        }

        &.l1fill_stripe {
            fill: $svg-color-2;
        }

        &.l1fill_gyr {
            fill: $svg-color-2;
        }


        &.l2,
        &.l2fill,
        &.l2dot,
        &.l2fill_stripe,
        &.l2fill_gyr {
            stroke: $svg-color-3;
        }
        
        &.l2fill {
            fill: $svg-color-3;
        }
        
        &.l2dot {
            stroke-dasharray: 2, 4;
        }

        &.l2fill_stripe {
            fill: $svg-color-3;
        }

        &.l2fill_gyr {
            fill: $svg-color-3;
        }


        &.l3,
        &.l3fill,
        &.l3dot,
        &.l3fill_stripe,
        &.l3fill_gyr {
            stroke: $svg-color-4;
        }
        
        &.l3fill {
            fill: $svg-color-4;
        }
        
        &.l3dot {
            stroke-dasharray: 2, 4;
        }

        &.l3fill_stripe {
            fill: $svg-color-4;
        }

        &.l3fill_gyr {
            fill: $svg-color-4;
        }


        &.l4,
        &.l4fill,
        &.l4dot,
        &.l4fill_stripe,
        &.l4fill_gyr {
            stroke: $svg-color-5;
        }
        
        &.l4fill {
            fill: $svg-color-5;
        }
        
        &.l4dot {
            stroke-dasharray: 2, 4;
        }

        &.l4fill_stripe {
            fill: $svg-color-5;
        }

        &.l4fill_gyr {
            fill: $svg-color-5;
        }


        &.l5,
        &.l5fill,
        &.l5dot,
        &.l5fill_stripe,
        &.l5fill_gyr {
            stroke: $svg-color-6;
        }
        
        &.l5fill {
            fill: $svg-color-6;
        }
        
        &.l5dot {
            stroke-dasharray: 2, 4;
        }

        &.l5fill_stripe {
            fill: $svg-color-6;
        }

        &.l5fill_gyr {
            fill: $svg-color-6;
        }


        &.l6,
        &.l6fill,
        &.l6dot,
        &.l6fill_stripe,
        &.l6fill_gyr {
            stroke: $svg-color-7;
        }
        
        &.l6fill {
            fill: $svg-color-7;
        }
        
        &.l6dot {
            stroke-dasharray: 2, 4;
        }

        &.l6fill_stripe {
            fill: $svg-color-7;
        }

        &.l6fill_gyr {
            fill: $svg-color-7;
        }


        &.l7,
        &.l7fill,
        &.l7dot,
        &.l7fill_stripe,
        &.l7fill_gyr {
            stroke: $svg-color-8;
        }
        
        &.l7fill {
            fill: $svg-color-8;
        }
        
        &.l7dot {
            stroke-dasharray: 2, 4;
        }

        &.l7fill_stripe {
            fill: $svg-color-8;
        }

        &.l7fill_gyr {
            fill: $svg-color-8;
        }


        &.l8,
        &.l8fill,
        &.l8dot,
        &.l8fill_stripe,
        &.l8fill_gyr {
            stroke: $svg-color-9;
        }
        
        &.l8fill {
            fill: $svg-color-9;
        }
        
        &.l8dot {
            stroke-dasharray: 2, 4;
        }

        &.l8fill_stripe {
            fill: $svg-color-9;
        }

        &.l8fill_gyr {
            fill: $svg-color-9;
        }
    }

    text {
        stroke: none !important;
        fill: #fff;
        font-size: 11px;

        &.title {
            fill: $primary-color;
            font-size: 16px;
        }

        &.legend {
            cursor: pointer;
        }

        &.SVGplot {
            &.l0,
            &.l0fill,
            &.l0dot,
            &.l0fill_stripe,
            &.l0fill_gyr {
                fill: $svg-color-1;
            }

            &.l1,
            &.l1fill,
            &.l1dot,
            &.l1fill_stripe,
            &.l1fill_gyr {
                fill: $svg-color-2;
            }

            &.l2,
            &.l2fill,
            &.l2dot,
            &.l2fill_stripe,
            &.l2fill_gyr {
                fill: $svg-color-3;
            }

            &.l3,
            &.l3fill,
            &.l3dot,
            &.l3fill_stripe,
            &.l3fill_gyr {
                fill: $svg-color-4;
            }

            &.l4,
            &.l4fill,
            &.l4dot,
            &.l4fill_stripe,
            &.l4fill_gyr {
                fill: $svg-color-5;
            }

            &.l5,
            &.l5fill,
            &.l5dot,
            &.l5fill_stripe,
            &.l5fill_gyr {
                fill: $svg-color-6;
            }

            &.l6,
            &.l6fill,
            &.l6dot,
            &.l6fill_stripe,
            &.l6fill_gyr {
                fill: $svg-color-7;
            }

            &.l7,
            &.l7fill,
            &.l7dot,
            &.l7fill_stripe,
            &.l7fill_gyr {
                fill: $svg-color-8;
            }

            &.l8,
            &.l8fill,
            &.l8dot,
            &.l8fill_stripe,
            &.l8fill_gyr {
                fill: $svg-color-9;
            }
        }
    }
}