@import "compass/reset";

/* Author: Matthias Kleine */

$version: '2.0';
$primary-color: #e56524;
$secondary-color: #676f7a;

@import 'base';
@import 'console';
@import 'dashboard';
@import 'tables';
@import 'menu';
@import 'svg';