/*@import "compass/reset";*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

@import 'vars';
@import 'base';

body {
    color: $primary-color;
}

#logo {
    top: 0;
    right: 40px;
}

#hdr {
    position: absolute;
    top: 1em;
}

#menu {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    margin-top: 140px;
    width: 260px;
    z-index: 9999;

    table {
        border-collapse: collapse;
        border-radius: 0;
        width: 100%;
    }

    a {
        background: $brightest-background;
        color: $secondary-color;
        display: block;
        padding: 10px 15px;
        position: relative;
        z-index: 9999;
        line-height: 15px;
    }
}

#backimg {
    background: $brightest-background;
    position: absolute;
    top: 10px;
    left: 10px;
    width: auto !important;
    height: auto !important;
}

#fpmenu.fp_arrange {
    line-height: 35px;
    background: $brightest-background;
    padding: 10px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 9999;

    input[type=submit] {
        border: 1px $primary-color solid;
        border-radius: 0;
        color: $primary-color;
        padding: 1px 10px;
        background: transparent;
        font-size: $large-fontsize;
        height: 24px;
    }
    
    input[disabled] {
        background: #ccc !important;
    }

    input[type="text"] {
        border: 1px $primary-color solid;
        color: #555;
        background: transparent;
        font-size: $large-fontsize;
        height: 20px;
        margin-left: 5px;
        margin-right: 5px;
    }

    select {
        background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
        background-position: calc(100% - 20px) calc(0.5em),calc(100% - 15px) calc(0.5em),calc(100% - 2.5em) 0.2em;
        background-size: 5px 5px, 5px 5px, 1px 0.9em;
        background-repeat: no-repeat;

        border: 1px $primary-color solid;
        border-radius: 0;
        color: $primary-color;
        font-size: $large-fontsize;
        line-height: 20px;
        height: 24px;
        margin-left: 5px;
        margin-right: 5px;
        padding: 0 20px 0 10px;
        min-width: 200px;
    }
}

.devicename {
    > td {
        font-weight: bold;
    }
}

.devicestate {
    > td {
        text-align: center;
    }
}

.devicecommands {
    font-size: 14px;
    text-align: center;
}

.devicetimestamp {
    font-size: 10px;
    text-align: center;
}

svg {
    height: 32px;
    width: 32px;
    margin: 5px;
}