@import "_reset";

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

@import 'vars';

$grid-color: gray;
$plotTextColor: $secondary-color;
$backgroundColor: #fff;

$svg-color-1: rgba(114,147,203,1);
$svg-color-2: rgba(255,151,76,1);
$svg-color-3: rgba(132,186,91,1);
$svg-color-4: rgba(211,94,96,1);
$svg-color-5: rgba(128,133,133,1);
$svg-color-6: rgba(144,103,167,1);
$svg-color-7: rgba(153,89,89,1);
$svg-color-8: rgba(204,194,16,1);
$svg-color-9: rgba(212,60,158,1);

svg {
    font-family: 'Open Sans', sans-serif;

    .background {
        fill: #000;
    }

    circle#svgmarker {
        color: #278727;
        opacity: 0.5;
    }

    path.SVGplot {
        stroke: black;
        fill: none;
    }

    rect.SVGplot {
        stroke: black;
        fill: none;
    }

    polyline.SVGplot {
        fill: none;
    }

    .border {
        stroke: $primary-color;
        fill: $backgroundColor;
    }

    .vgrid {
        stroke: $grid-color;
        stroke-dasharray: 2, 6;
    }

    .hgrid {
        stroke: $grid-color;
        stroke-dasharray: 2, 6;
    }

    .pasted {
        stroke: black;
        stroke-dasharray: 1, 1;
    }

    text {
        stroke: none !important;
        fill: $plotTextColor;
        font-size: 11px;

        &.title {
            fill: $plotTextColor;
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 10px;
        }

        &.legend {
            cursor: pointer;
        }
    }
}

.SVGplot.l0 { stroke: $svg-color-1; }
.SVGplot.l1 { stroke: $svg-color-2; }
.SVGplot.l2 { stroke: $svg-color-3; }
.SVGplot.l3 { stroke: $svg-color-4; }
.SVGplot.l4 { stroke: $svg-color-5; }
.SVGplot.l5 { stroke: $svg-color-6; }
.SVGplot.l6 { stroke: $svg-color-7; }
.SVGplot.l7 { stroke: $svg-color-8; }
.SVGplot.l8 { stroke: $svg-color-9; }
.SVGplot.l0fill { stroke: $svg-color-1; fill: rgba(114,147,203,0.3); }
.SVGplot.l1fill { stroke: $svg-color-2; fill: rgba(255,151,76,0.3); }
.SVGplot.l2fill { stroke: $svg-color-3; fill: rgba(132,186,91,0.3); }
.SVGplot.l3fill { stroke: $svg-color-4; fill: rgba(211,94,96,0.3); }
.SVGplot.l4fill { stroke: $svg-color-5; fill: rgba(128,133,133,0.3); }
.SVGplot.l5fill { stroke: $svg-color-6; fill: rgba(144,103,167,0.3); }
.SVGplot.l6fill { stroke: $svg-color-7; fill: rgba(153,89,89,0.3); }
.SVGplot.l7fill { stroke: $svg-color-8; fill: rgba(204,194,16,0.3); }
.SVGplot.l8fill { stroke: $svg-color-9; fill: rgba(212,60,158,0.3); }
.SVGplot.l0dot { stroke: $svg-color-1; stroke-dasharray: 2,4; }
.SVGplot.l1dot { stroke: $svg-color-2; stroke-dasharray: 2,4; }
.SVGplot.l2dot { stroke: $svg-color-3; stroke-dasharray: 2,4; }
.SVGplot.l3dot { stroke: $svg-color-4; stroke-dasharray: 2,4; }
.SVGplot.l4dot { stroke: $svg-color-5; stroke-dasharray: 2,4; }
.SVGplot.l5dot { stroke: $svg-color-6; stroke-dasharray: 2,4; }
.SVGplot.l6dot { stroke: $svg-color-7; stroke-dasharray: 2,4; }
.SVGplot.l7dot { stroke: $svg-color-8; stroke-dasharray: 2,4; }
.SVGplot.l8dot { stroke: $svg-color-9; stroke-dasharray: 2,4; }
.SVGplot.l0fill_stripe { stroke: $svg-color-1; fill: url(#gr0_stripe); }
.SVGplot.l1fill_stripe { stroke: $svg-color-2; fill: url(#gr1_stripe); }
.SVGplot.l0fill_gyr { stroke: $svg-color-1; fill: url(#gr0_gyr); }

text.SVGplot.l0 { stroke: none; fill: $svg-color-1; }
text.SVGplot.l1 { stroke: none; fill: $svg-color-2; }
text.SVGplot.l2 { stroke: none; fill: $svg-color-3; }
text.SVGplot.l3 { stroke: none; fill: $svg-color-4; }
text.SVGplot.l4 { stroke: none; fill: $svg-color-5; }
text.SVGplot.l5 { stroke: none; fill: $svg-color-6; }
text.SVGplot.l6 { stroke: none; fill: $svg-color-7; }
text.SVGplot.l7 { stroke: none; fill: $svg-color-8; }
text.SVGplot.l8 { stroke: none; fill: $svg-color-9; }
text.SVGplot.l0fill { stroke: none; fill: $svg-color-1; }
text.SVGplot.l1fill { stroke: none; fill: $svg-color-2; }
text.SVGplot.l2fill { stroke: none; fill: $svg-color-3; }
text.SVGplot.l3fill { stroke: none; fill: $svg-color-4; }
text.SVGplot.l4fill { stroke: none; fill: $svg-color-5; }
text.SVGplot.l5fill { stroke: none; fill: $svg-color-6; }
text.SVGplot.l6fill { stroke: none; fill: $svg-color-7; }
text.SVGplot.l7fill { stroke: none; fill: $svg-color-8; }
text.SVGplot.l8fill { stroke: none; fill: $svg-color-9; }
text.SVGplot.l0dot { stroke: none; fill: $svg-color-1; }
text.SVGplot.l1dot { stroke: none; fill: $svg-color-2; }
text.SVGplot.l2dot { stroke: none; fill: $svg-color-3; }
text.SVGplot.l3dot { stroke: none; fill: $svg-color-4; }
text.SVGplot.l4dot { stroke: none; fill: $svg-color-5; }
text.SVGplot.l5dot { stroke: none; fill: $svg-color-6; }
text.SVGplot.l6dot { stroke: none; fill: $svg-color-7; }
text.SVGplot.l7dot { stroke: none; fill: $svg-color-8; }
text.SVGplot.l8dot { stroke: none; fill: $svg-color-9; }
text.SVGplot.l0fill_stripe {stroke: none; fill: $svg-color-1; }
text.SVGplot.l1fill_stripe {stroke: none; fill: $svg-color-2; }
text.SVGplot.l0fill_gyr {stroke: none; fill: $svg-color-1; }
