@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body {
    color: #fff;
    tab-size: 4;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0px auto;
}

h2, h3, h4 {
	color: #e56524;
	margin-top: 0;
}

a {
    color: #e56524;
    text-decoration: none;
}

#logo {
    background: url(./images/haus_automatisierung.png) no-repeat;
    width: 220px;
    height: 120px;
    margin-left: 40px;
    position: fixed;
}

#logo:after {
	content: '1.1';
	opacity: 0.7;
}

body {
    background-repeat: no-repeat;
    background-position: center 0;
    background-image: url("./images/bg_wrapper.jpg");
    background-color: #354d69;
    background-attachment: fixed;
}

#content, #hdr {
    left: 320px;
}

#menuScrollArea {
    width: 300px;
    position: relative;
    overflow: auto;
}

#hdr {
    width: 500px;
}

#menu {
    width: 260px;
    margin-top: 140px;
    z-index: 9999;
}

#menu td {
    padding: 0;
}

#menu a {
    color: #555;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

#menu table.room {
    border: none;
    margin-bottom: 10px;    
    background: none;
    border-spacing: 0;
}

table {
    width: 100%;
    max-width: 1000px;
    border-radius: 0;
    border-collapse: collapse;
}

table.block {
    color: #676f7a;
    background: #fff;
    border-radius: 0;
    border: none;
}

table.block td:nth-child(1) {
    white-space: nowrap
}

.makeTable table.block td:nth-child(2) {
    width: 60%;
}

table.block td > div,
table.block td > a {
    padding: 5px;
}

table.block tr.odd {
    background: #f5f6f9;
}

input.maininput {
    width: 600px;
}

#hdr {
    width: 500px;
}

#fpmenu select {
    margin: 5px 10px;
    width: 500px;
}

#fpmenu select:last-child {
    margin-bottom: 0;
}

#fpmenu input[type="submit"] {
    width: 80px;
}

.detLink {
    padding: 2px 10px;
    border: 2px #e56524 solid;
    border-radius: 0;
    margin-right: 0 !important;
}

.downText {
    margin-top: 2px;
}

#console,
.fhemlog {
    color: #fff;
	font-family: 'Source Code Pro', monospace;
}

#devSpecHelp {
	font-family: 'Source Code Pro', monospace;
    width: 100%;
    max-width: 985px;
    color: #676f7a;
    background: #fff;
    padding: 5px;
    border-left: 5px #e56524 solid;
}

input[type="submit"] {
    padding: 1px 10px;
    border: 2px #e56524 solid;
    border-radius: 0;
    background: none;
    color: #e56524;
}

select {
    padding: 0px 10px;
    border: 2px #e56524 solid;
    border-radius: 0;
    background: none;
    color: #e56524;
}

input[type="text"] {
    border: 2px #e56524 solid;
    background: none;
    color: #555;
}

#hdr input[type="text"] {
	color: #fff;
}

.makeSelect {
    width: 100%;
    background: #fff;
    margin-top: 5px;
    padding-top: 5px;
    padding-left: 5px;
    color: #676f7a;
    box-sizing: border-box;
    border-right: 5px #e56524 solid;
    border-left: 5px #e56524 solid;
}

.makeSelect input[type="text"] {
    color: #555;
}

div.ui-dialog {
    border: 2px solid #e56524;
    background: #fff;
}

div.ui-dialog-buttonpane {
    background: #f5f6f9;
}

pre.log {
    color: #000;
    background: #fff;
    padding: 10px;
}

div#errmsg {
    position: fixed;
    color: #fff;
    font-weight:bold;
    top: 10px;
    left: 0;
    width: 100%;
    background-color: #e56524;
    padding: 20px;
    font-size: 20px;
    border-top: 3px #fff solid;
    border-bottom: 3px #fff solid;
    z-index: 99999;
}

div#errmsg:before {
    content: '!!!! ';
}

div#errmsg:after {
    content: ' !!!!';
}

#dashboard .dashboard_tabnav {
    background: #fff !important;
    border-radius: 0;
}

#dashboard .dashboard-button {
    border-radius: 0 !important;
    border: 1px solid #ddd;
}

.ui-corner-bottom, .ui-corner-top, .ui-corner-left, .ui-corner-right, .ui-corner-all {
    border-radius: 0 !important;
}

div.ui-widget-content a {
    color: #555 !important;
}

#dashboard .ui-widget-header .ui-state-default {
    border: 1px solid #ddd;
    background-color: #fff;
    color: #555;
}

.ui-state-hover {
    border: 1px solid #e56524 !important;
    background: #fff !important;
    cursor: pointer;
}

#dashboard .ui-tabs .ui-tabs-nav li {
    margin: 0;
    margin-right: 0.2em;
}

#dashboard .ui-tabs .ui-tabs-nav {
    padding: 0.2em;
    margin-left: 3px;
    margin-right: 3px;
}

#dashboard .block.wide {
    border-radius: 0 !important;
}

#dashboard .ui-widget-header {
    background: #e56524;
    color: #fff;
    margin: 0px;
    border: none;
}

#dashboard .dashboard_widgetinner {
    padding: 0.2em;
}

#dashboard .dashboard_content tr {
    height: 50px;
}

#dashboard .dashboard_content {
    padding: 0;
}

#dashboard-dialog .ui-tabs .ui-tabs-nav {
    padding: 0.2em;
}

#dashboard-dialog .ui-tabs .ui-tabs-nav li {
    margin: 0;
    margin-right: 0.2em;
}

#dashboard-dialog .ui-widget-header {
    color: #555;
}

#dashboard-dialog {
    border: 2px solid #e56524;
}

#dashboard-dialog .ui-widget-header {
    background: #fff;
}

#dashboard-dialog .ui-state-default {
    border: 1px solid #ddd;
    background: #f5f6f9;
}

#dashboard-dialog .ui-dialog-buttonpane {
    background-color: #f5f6f9;
}

div.ui-widget-content {
    background: #fff;
}