@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

svg { font-family: 'Open Sans', sans-serif; }
svg .background { fill: #000; }
svg circle#svgmarker { color: #278727; opacity: 0.5; }
svg path.SVGplot { stroke: black; fill: none; }
svg rect.SVGplot { stroke: black; fill: none; }
svg polyline.SVGplot { fill: none; }
svg .border { stroke: #e56524; fill: #fff; }
svg .vgrid { stroke: gray; stroke-dasharray: 2, 6; }
svg .hgrid { stroke: gray; stroke-dasharray: 2, 6; }
svg .pasted { stroke: black; stroke-dasharray: 1, 1; }
svg .SVGplot.l0, svg .SVGplot.l0fill, svg .SVGplot.l0dot, svg .SVGplot.l0fill_stripe, svg .SVGplot.l0fill_gyr { stroke: #215A94; }
svg .SVGplot.l0fill { fill: #215A94; }
svg .SVGplot.l0dot { stroke-dasharray: 2, 4; }
svg .SVGplot.l0fill_stripe { fill: #215A94; }
svg .SVGplot.l0fill_gyr { fill: #215A94; }
svg .SVGplot.l1, svg .SVGplot.l1fill, svg .SVGplot.l1dot, svg .SVGplot.l1fill_stripe, svg .SVGplot.l1fill_gyr { stroke: #18986E; }
svg .SVGplot.l1fill { fill: #18986E; }
svg .SVGplot.l1dot { stroke-dasharray: 2, 4; }
svg .SVGplot.l1fill_stripe { fill: #18986E; }
svg .SVGplot.l1fill_gyr { fill: #18986E; }
svg .SVGplot.l2, svg .SVGplot.l2fill, svg .SVGplot.l2dot, svg .SVGplot.l2fill_stripe, svg .SVGplot.l2fill_gyr { stroke: #913100; }
svg .SVGplot.l2fill { fill: #913100; }
svg .SVGplot.l2dot { stroke-dasharray: 2, 4; }
svg .SVGplot.l2fill_stripe { fill: #913100; }
svg .SVGplot.l2fill_gyr { fill: #913100; }
svg .SVGplot.l3, svg .SVGplot.l3fill, svg .SVGplot.l3dot, svg .SVGplot.l3fill_stripe, svg .SVGplot.l3fill_gyr { stroke: #915700; }
svg .SVGplot.l3fill { fill: #915700; }
svg .SVGplot.l3dot { stroke-dasharray: 2, 4; }
svg .SVGplot.l3fill_stripe { fill: #915700; }
svg .SVGplot.l3fill_gyr { fill: #915700; }
svg .SVGplot.l4, svg .SVGplot.l4fill, svg .SVGplot.l4dot, svg .SVGplot.l4fill_stripe, svg .SVGplot.l4fill_gyr { stroke: #07325E; }
svg .SVGplot.l4fill { fill: #07325E; }
svg .SVGplot.l4dot { stroke-dasharray: 2, 4; }
svg .SVGplot.l4fill_stripe { fill: #07325E; }
svg .SVGplot.l4fill_gyr { fill: #07325E; }
svg .SVGplot.l5, svg .SVGplot.l5fill, svg .SVGplot.l5dot, svg .SVGplot.l5fill_stripe, svg .SVGplot.l5fill_gyr { stroke: #006141; }
svg .SVGplot.l5fill { fill: #006141; }
svg .SVGplot.l5dot { stroke-dasharray: 2, 4; }
svg .SVGplot.l5fill_stripe { fill: #006141; }
svg .SVGplot.l5fill_gyr { fill: #006141; }
svg .SVGplot.l6, svg .SVGplot.l6fill, svg .SVGplot.l6dot, svg .SVGplot.l6fill_stripe, svg .SVGplot.l6fill_gyr { stroke: #FFA77A; }
svg .SVGplot.l6fill { fill: #FFA77A; }
svg .SVGplot.l6dot { stroke-dasharray: 2, 4; }
svg .SVGplot.l6fill_stripe { fill: #FFA77A; }
svg .SVGplot.l6fill_gyr { fill: #FFA77A; }
svg .SVGplot.l7, svg .SVGplot.l7fill, svg .SVGplot.l7dot, svg .SVGplot.l7fill_stripe, svg .SVGplot.l7fill_gyr { stroke: #5F8AB6; }
svg .SVGplot.l7fill { fill: #5F8AB6; }
svg .SVGplot.l7dot { stroke-dasharray: 2, 4; }
svg .SVGplot.l7fill_stripe { fill: #5F8AB6; }
svg .SVGplot.l7fill_gyr { fill: #5F8AB6; }
svg .SVGplot.l8, svg .SVGplot.l8fill, svg .SVGplot.l8dot, svg .SVGplot.l8fill_stripe, svg .SVGplot.l8fill_gyr { stroke: #59B99A; }
svg .SVGplot.l8fill { fill: #59B99A; }
svg .SVGplot.l8dot { stroke-dasharray: 2, 4; }
svg .SVGplot.l8fill_stripe { fill: #59B99A; }
svg .SVGplot.l8fill_gyr { fill: #59B99A; }
svg text { stroke: none !important; fill: #fff; font-size: 11px; }
svg text.title { fill: #fff; font-size: 16px; text-transform: uppercase; letter-spacing: 10px; }
svg text.legend { cursor: pointer; }
svg text.SVGplot.l0, svg text.SVGplot.l0fill, svg text.SVGplot.l0dot, svg text.SVGplot.l0fill_stripe, svg text.SVGplot.l0fill_gyr { fill: #215A94; }
svg text.SVGplot.l1, svg text.SVGplot.l1fill, svg text.SVGplot.l1dot, svg text.SVGplot.l1fill_stripe, svg text.SVGplot.l1fill_gyr { fill: #18986E; }
svg text.SVGplot.l2, svg text.SVGplot.l2fill, svg text.SVGplot.l2dot, svg text.SVGplot.l2fill_stripe, svg text.SVGplot.l2fill_gyr { fill: #913100; }
svg text.SVGplot.l3, svg text.SVGplot.l3fill, svg text.SVGplot.l3dot, svg text.SVGplot.l3fill_stripe, svg text.SVGplot.l3fill_gyr { fill: #915700; }
svg text.SVGplot.l4, svg text.SVGplot.l4fill, svg text.SVGplot.l4dot, svg text.SVGplot.l4fill_stripe, svg text.SVGplot.l4fill_gyr { fill: #07325E; }
svg text.SVGplot.l5, svg text.SVGplot.l5fill, svg text.SVGplot.l5dot, svg text.SVGplot.l5fill_stripe, svg text.SVGplot.l5fill_gyr { fill: #006141; }
svg text.SVGplot.l6, svg text.SVGplot.l6fill, svg text.SVGplot.l6dot, svg text.SVGplot.l6fill_stripe, svg text.SVGplot.l6fill_gyr { fill: #FFA77A; }
svg text.SVGplot.l7, svg text.SVGplot.l7fill, svg text.SVGplot.l7dot, svg text.SVGplot.l7fill_stripe, svg text.SVGplot.l7fill_gyr { fill: #5F8AB6; }
svg text.SVGplot.l8, svg text.SVGplot.l8fill, svg text.SVGplot.l8dot, svg text.SVGplot.l8fill_stripe, svg text.SVGplot.l8fill_gyr { fill: #59B99A; }
